<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三小时入门django web</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1>
    三小时入门django web框架
    </h1>
    <small>__by hetao114</small>
</div>
<div class="container page-body">
    <div class="col-lg-9" role="main">
        <div class="body-main">
           {% for i in artical %}
            <div>
            <!-- 需要使用方法获区url的id -->
                <h2 ><a href="artical/{{ i.artical_id }}">{{ i.title }}</a></h2>
               <p> {{ i.content }}</p>
           </div>
            {% endfor %}
        </div>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="/artical/index?page={{prepage}}" aria-label="上一页">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in pagenumber %}
                        <li><a href="/artical/index?page={{i}}">{{ i }}</a></li>
                    {% endfor %}
                    <li>
                        <a href="/artical/index?page={{nextpage}}" aria-label="下一页">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <h2>最新文章</h2>
            {% for i in top_10_artical %}
            <h4><a href="artical/{{ i.artical_id }}">{{ i.title }}</a></h4>
            {% endfor %}
        </div>

    </div>
</div>

</body>
</html>